body {
  padding: 0;
  margin: 0;
  background: #424242;
}
#title {
  text-align: center;
  width: 100%;
  font-size: 150%;
  padding: 10px 0 10px 0;
  background-color: #212121;
  font-weight: 400;
  color: #ef9a9a;
  font-weight: bolder;
  font-family: sans-serif;
  box-shadow: 0px 2px 5px rgb(24, 24, 24);
}

#container {
  padding: 10px 0 10px 0;
  width: 100%;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
}

.themeContainer {
  width: 400px;
  height: 320px;
  background-color: #616161;
  box-shadow: 1px 1px 6px rgb(31, 30, 30);
  border-radius: 5px;
  display: flex;
  padding: 10px;
  margin: 10px;
  justify-content: space-between;
  align-items: center;
}

.screenshot {
  height: 320px;
  width: 180px;
  box-shadow: 2px 2px 5px #212121;
  border: 2px solid #9e9e9e;
}

.themeDataContainer {
  width: 210px;
  height: 320px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.themeName {
  color: #ffa000;
  font-weight: bold;
  font-size: 140%;
  font-weight: 500;
  width: 100%;
  text-align: center;
}

.themeBy {
  color: #f5f5f5;
  margin: 20px 0 30px 0;
}

.themeByLabel {
  color: #bdbdbd;
  font-family: monospace;
  font-size: 110%;
}

.themeByValue {
  color: #58cade;
  font-weight: 600;
}

.themeDownload {
  width: 150px;
  padding: 10px;
  font-family: sans-serif;
  font-weight: bolder;
  text-decoration: none;
  color: #ff5252;
  background: #4caf50;
  border-radius: 4px;
  text-align: center;
  box-shadow: 1px 1px 3px rgb(65, 65, 65);
}

.themeDataContainer > a , .themeBy > a {
  text-decoration: none;

}

@media screen and (max-width:480px) {
  #title {
    font-size: 130%;
  }

  #container {
    padding: 10px 0;
    flex-flow: column;
    align-items: center;
  }

  .themeContainer {
    width: 85%;
    height: auto;
    margin: 10px 0;
    flex-direction: column;
  }

  .screenshot {
    width: 60%;
    height: auto;
  }

  .themeDataContainer {
    margin-top: 15px;
    width: 100%;
    height: auto;
  }

  .themeName {
    font-size: 120%
  }

  .themeBy {
    margin: 5px 0 15px 0;
  }

  .themeByLabel {
    font-size: 100%;
  }

  .themeByValue {
    font-size: 90%
  }
}

@media screen and (max-width:360px) {
  #title {
    font-size: 130%;
  }
}
